body {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 100vw;
}

.input {
  padding: 1rem;
  background-color: lightblue;
  border: 0;
  height: 100px;
  width: 400px;
  max-width: 100%;
  resize: none;
  outline: 0;
  border-radius: 7px;
  box-shadow: 0 0 0 4px rgba(54, 55, 89, 0.5);
  font-size: 1.3rem;
  font-weight: bolder;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}

.result {
  font-size: 2rem;
  font-weight: bold;
  color: #444;
  letter-spacing: 2px;
}
