@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.container {
  background: #1c7ed6;
  padding: 2rem;
  display: flex;
  gap: 2.4rem;
  flex-direction: column;
  justify-content: center;
  border-radius: 7px;
  color: #fff;
}

.container .boxes {
  color: #fff;
  border-radius: 6px;
  padding: 1rem;
}

input {
  width: 100%;
  display: inline-block;
  padding: 1rem 0.4rem;
  font-size: 1.4rem;
  font-family: inherit;
  border-radius: 6px;
  border: 0;
  outline: 0;
}

.box-1 {
  background-color: orange;
}
.box-2 {
  background-color: #4dabf7;
}
.box-3 {
  background-color: #d6336c;
}
