@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;500;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
}
:root {
  --container-bg: #2a2e33;
  --font-color: #ebebec;
}

body {
  font-family: "Ubuntu", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  width: 100vw;
  background: url(../IMG/endless-constellation.svg);
  line-height: 1rem;
}
h3 {
  text-align: center;
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
  color: #f7f7f7;
}
.container {
  width: 400px;
  max-width: 100%;
  color: var(--font-color);
  font-size: 2.4rem;
  padding: 4rem 2rem;
  line-height: 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2.4rem;
  border-radius: 1.2rem;
  box-shadow: inset 0 0 1px 2px rgba(0, 0, 0, 0.5);
}

button {
  display: inline-block;
  color: var(--font-color);
  padding: 1.2rem 5rem;
  border-radius: 1rem;
  border: 0;
  width: 100%;
  cursor: pointer;
  outline: 0;
  background: transparent;
  position: relative;
  overflow: hidden;
  pointer-events: all;
  margin-bottom: 1rem;
}
span {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 3px;
  width: 100%;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
  border-radius: 1rem;
  transition: all 0.8s ease;
  z-index: -1;
}

button:hover span {
  height: 100%;
}

button:active {
  transform: scale(0.98);
}

button[type="reset"] {
  border-bottom: 2px solid rgba(0, 0, 0, 0.3);
}

input {
  padding: 1.2rem 0.5rem;
  font-size: 2.4rem;
  font-weight: 500;
  width: 100%;
  margin-bottom: 1.5rem;
  border-radius: 0.8rem;
  border: 0;
  outline: 0;
  background: transparent;
  color: #f6f6f6;
  box-shadow: inset 0 0 10px rgba(0, 0, 0, 0.5);
}

input:focus {
  outline: none;
  box-shadow: 0 0 0 4px rgba(0, 0, 0, 0.4);
}

.result {
  margin-bottom: 1rem;
  padding: 2rem;
  /* opacity: 0; */
}

.show {
  opacity: 1;
}
