*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    display: flex;
    align-items: center;
    justify-content:center;
    min-height: 100vh;
}

img{
    width: 30vw;
    height: 80vh;
    object-fit: cover;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 30vw;
    height: 80vh;
    position: relative;
}

.img-box-before, 
.img-box-after{
    width: 30vw;
    height: 80vh;
    position: absolute;
}


